<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Compte - Creed Ghost</title>
</head>

<body>
    <h1>Compte de <span th:text="${player.username}"></span></h1>

    <div th:replace="fragments/menu-player.html :: menu-player-creed-ghost"></div>

    <p>Bienvenue sur ton compte <span th:text="${player.firstname}"></span> <span th:text="${player.lastname}"></span></p>

    <p>Voici tes informations de profil :</p>
    <ul>
        <li>Pseudo : <span th:text="${player.username}"></span></li>
        <li>Prénom : <span th:text="${player.firstname}"></span></li>
        <li>Nom : <span th:text="${player.lastname}"></span></li>
        <li>Mail : <span th:text="${player.email}"></span></li>
        <li>Téléphone : <span th:text="${player.cellphone}"></span></li>
        <li>Anniversaire : <span th:text="${player.birthday}"></span></li>
    </ul>

    <div th:replace="fragments/footer.html :: footer-creed-ghost"></div>
</body>

</html>