<section id="about" th:fragment="about-creed-ghost">
    <h2>À propos de nous</h2>
    <p>L'association Creed Ghost est une organisation dédiée aux jeux vidéos. Nous croyons que les
        jeux vidéo sont un moyen puissant de stimuler l'imagination, de développer la collaboration et de
        s'amuser. Nous organisons régulièrement des événements pour les joueurs et les développeurs de jeux, y
        compris des tournois, des ateliers de développement de jeux et des soirées jeux.</p>
    <p>Notre association est dédié à l'ensemble des joueurs souhaitant s'amuser et profiter du monde des jeux vidéos.</p>
</section>