<section th:fragment="contact-creed-ghost">
    <h2>Contact</h2>
    <p>Si vous voulez en savoir plus sur l'association Creed Ghost ou si vous souhaitez nous contacter utiliser l'adresse suivante :</p>
    <address>
        Association Creed Ghost<br>
        1234 Rue de la Jeux Vidéo<br>
        Lyon, France 69000
    </address>
</section>