<nav th:fragment="menu-admin-creed-ghost">
    <ul>
        <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
        <li><a th:href="@{/admin/dashboard#users}">Utilisateurs (Administrateurs)</a></li>
        <li><a th:href="@{/admin/dashboard#players}">Joueurs</a></li>
        <li><a th:href="@{/admin/dashboard#teams}">Equipes</a></li>
        <li><a th:href="@{/admin/dashboard#events}">Evénements</a></li>
        <li><a th:href="@{/admin/dashboard#speakers}">Conférenciers</a></li>
        <li><a th:href="@{/admin/logout}">Se déconnecter</a></li>
    </ul>
</nav>