<nav th:fragment="menu-player-creed-ghost">
    <ul>
        <li><a th:href="@{/}">Accueil</a></li>
        <li><a th:href="@{/player/competition/solo}">Compétitions Solos</a></li>
        <li><a th:href="@{/player/competition/solo}">Compétitions Equipe</a></li>
        <li><a th:href="@{/player/team}">Equipes</a></li>
        <li><a th:href="@{/player/logout}">Se déconnecter</a></li>
    </ul>
</nav>