<nav th:fragment="menu-creed-ghost">
    <ul>
        <li><a th:href="@{/}">Accueil</a></li>
        <li><a th:href="@{/player/signin}">Se connecter</a></li>
        <li><a th:href="@{/player/signup}">S'inscrire</a></li>
        <li><a th:href="@{/#about}">À propos de nous</a></li>
        <li><a th:href="@{/#contact}">Contact</a></li>
    </ul>
</nav>