<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Classement Joueur - Admin Creed Ghost</title>
</head>

<body>
    <h1 th:text="'Classement ' + ${player.player.username}">Classement</h1>

    <div th:replace="fragments/menu-admin.html :: menu-admin-creed-ghost"></div>

    <form method="post" th:action="@{'/admin/competition/solo/' + ${competition} + '/class/player'}" th:object="${player}">
        <input type="text" th:field="*{id}" hidden/>
        <br />
        <label for="ranking">Rang :</label>
        <input type="number" th:field="*{ranking}"/>
        <br />
        
        <input type="submit" value="Classer" />
    </form>
    
    <div th:replace="fragments/footer.html"></div>
</body>

</html>