<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Compétitions Equipe - Admin Creed Ghost</title>
</head>

<body>
    <div th:switch="${update}">
        <div th:case="true"><h1 th:text="'Modification ' + ${competition.title}"></h1></div>
        <div th:case="false"><h1>Nouvelle compétition en équipe</h1></div>
    </div>

    <div th:replace="fragments/menu-admin.html :: menu-admin-creed-ghost"></div>

    <div th:switch="${update}">
        <div th:case="true">
            <p th:if="${teamError}">L'équipe que vous avez voulu ajouter n'existe pas.</p>
            <form th:action="@{'/admin/competition/team/' + ${competition.id} + '/add/team'}" method="post" th:object="${team}">
                <input type="text" th:field="*{name}">
                <input type="submit" value="Ajouter">
            </form>

            <p>Les équipes suivantes participent à la compétiton <span th:text="${competition.title}"></span> : </p>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Classement</th>
                        <th>Inscrit</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${competitionTeams.empty}">
                        <td colspan="6">Aucun équipe pour le moment</td>
                    </tr>
                    <tr th:each="teamCompetiton : ${competitionTeams}">
                        <td th:text="${teamCompetiton.id}">Id</td>
                        <td th:text="${teamCompetiton.team.name}">Nom</td>
                        <td th:text="${teamCompetiton.ranking}">Classement</td>
                        <td th:text="${teamCompetiton.registrationDate}">Inscrit</td>
                        <td><a th:href="@{'/admin/competition/team/' + ${competition.id} + '/class/team/' + ${teamCompetiton.id}}">Classer</a></td>
                        <td><a th:href="@{'/admin/competition/team/' + ${competition.id} + '/delete/team/' + ${teamCompetiton.id}}">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>

            <form method="post" th:action="@{'/admin/event/' + ${event} + '/update/competition/team/' + ${competition.id}}" th:object="${competition}">
                <label for="title">Titre :</label>
                <input type="text" th:field="*{title}"/>
                <br />
                <label for="description">Description :</label>
                <input type="text" th:field="*{description}"/> 
                <br />
                <label for="competitionDate">Date :</label>
                <input type="date" th:field="*{competitionDate}"/> 
                <br />
                
                <input type="submit" value="Mettre à jour" />
            </form>
        </div>
        <div th:case="false">
            <form method="post" th:action="@{'/admin/event/' + ${event} + '/add/competition/team'}" th:object="${competition}">
                <label for="title">Titre :</label>
                <input type="text" th:field="*{title}"/>
                <br />
                <label for="description">Description :</label>
                <input type="text" th:field="*{description}"/> 
                <br />
                <label for="competitionDate">Date :</label>
                <input type="date" th:field="*{competitionDate}"/> 
                <br />
                
                <input type="submit" value="Créer" />
            </form>
        </div>
    </div>
    
    <div th:replace="fragments/footer.html"></div>
</body>

</html>