<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Conférence - Admin Creed Ghost</title>
</head>

<body>
    <div th:switch="${update}">
        <div th:case="true"><h1 th:text="'Modification ' + ${conference.title}"></h1></div>
        <div th:case="false"><h1>Nouvelle conférence</h1></div>
    </div>

    <div th:replace="fragments/menu-admin.html :: menu-admin-creed-ghost"></div>

    <div th:switch="${update}">
        <div th:case="true">
            <p th:if="${speakerError}">Le conférencier que vous avez voulu ajouter n'existe pas.</p>
            <form th:action="@{'/admin/conference/' + ${conference.id} + '/add/speaker'}" method="post" th:object="${speaker}">
                <input type="email" th:field="*{email}">
                <input type="submit" value="Ajouter">
            </form>

            <p>Les conférenciers suivants vont animer la conférence <span th:text="${conference.title}"></span> : </p>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Mail</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${conference.speakers.empty}">
                        <td colspan="5">Aucun conférencier pour le moment</td>
                    </tr>
                    <tr th:each="speakerConference : ${conference.speakers}">
                        <td th:text="${speakerConference.id}">Id</td>
                        <td th:text="${speakerConference.lastname}">Nom</td>
                        <td th:text="${speakerConference.firstname}">Prénom</td>
                        <td th:text="${speakerConference.email}">Mail</td>
                        <td><a th:href="@{'/admin/conference/' + ${conference.id} + '/delete/speaker/' + ${speakerConference.id}}">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>

            <form method="post" th:action="@{'/admin/event/' + ${event} + '/update/conference/' + ${conference.id}}" th:object="${conference}">
                <label for="title">Titre :</label>
                <input type="text" th:field="*{title}"/>
                <br />
                <label for="description">Description :</label>
                <input type="text" th:field="*{description}"/> 
                <br />
                <label for="place">Lieu :</label>
                <input type="text" th:field="*{place}"/> 
                <br />
                <label for="conferenceDate">Date :</label>
                <input type="date" th:field="*{conferenceDate}"/> 
                <br />
                
                <input type="submit" value="Mettre à jour" />
            </form>
        </div>
        <div th:case="false">
            <form method="post" th:action="@{'/admin/event/' + ${event} + '/add/conference'}" th:object="${conference}">
                <label for="title">Titre :</label>
                <input type="text" th:field="*{title}"/>
                <br />
                <label for="description">Description :</label>
                <input type="text" th:field="*{description}"/> 
                <br />
                <label for="place">Lieu :</label>
                <input type="text" th:field="*{place}"/> 
                <br />
                <label for="conferenceDate">Date :</label>
                <input type="date" th:field="*{conferenceDate}"/> 
                <br />
                
                <input type="submit" value="Créer" />
            </form>
        </div>
    </div>
    
    <div th:replace="fragments/footer.html"></div>
</body>

</html>