<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Evénements - Admin Creed Ghost</title>
</head>

<body>
    <div th:switch="${update}">
        <div th:case="true"><h1 th:text="'Modification ' + ${event.name}"></h1></div>
        <div th:case="false"><h1>Nouvel événement</h1></div>
    </div>

    <div th:replace="fragments/menu-admin.html :: menu-admin-creed-ghost"></div>
    
    <div th:switch="${update}">
        <div th:case="true">
            <form method="post" th:action="@{'/admin/event/' + ${event.id} + '/update'}" th:object="${event}">
                <label for="name">Nom :</label>
                <input type="text" th:field="*{name}"/> 
                <br />
                <label for="description">Description :</label>
                <input type="text" th:field="*{description}"/> 
                <br />
                <label for="eventStart">Commence :</label>
                <input type="date" th:field="*{eventStart}"/> 
                <br />
                <label for="eventEnd">Fini :</label>
                <input type="date" th:field="*{eventEnd}"/> 
                <br />
                
                <input type="submit" value="Mettre à jour" />
            </form>

            <p>Un événement peut posséder différentes catégories d'événements (activité, stand, conference, compétition solo, ...)</p>
            <p>L'ensemble des parties de l'événement <span th:text="${event.name}"></span> vont être listées ci-dessous.</p>

            <h2>Activités : </h2>

            <form th:action="@{'/admin/event/' + ${event.id} + '/add/activity'}" method="get">
                <input type="submit" value="Ajouter une activité">
            </form>
            
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Lieu</th>
                        <th>Date</th>
                        <th>Créé</th>
                        <th>Modifié</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${activities.empty}">
                        <td colspan="9">Aucune activité programmée pour le moment</td>
                    </tr>
                    <tr th:each="activity : ${activities}">
                        <td th:text="${activity.id}">Id</td>
                        <td th:text="${activity.title}">Titre</td>
                        <td th:text="${activity.description}">Description</td>
                        <th th:text="${activity.place}">Lieu</th>
                        <th th:text="${activity.activityDate}">Date</th>
                        <th th:text="${activity.createdAt}">Créé</th>
                        <th th:text="${activity.updatedAt}">Modifié</th>
                        <td><a th:href="@{'/admin/event/' + ${event.id} + '/update/activity/' + ${activity.id}}">Modifier</a></td>
                        <td><a th:href="@{'/admin/event/' + ${event.id} + '/delete/activity/' + ${activity.id}}">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>

            <h2>Stands : </h2>

            <form th:action="@{'/admin/event/' + ${event.id} + '/add/stand'}" method="get">
                <input type="submit" value="Ajouter un stand">
            </form>
            
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Lieu</th>
                        <th>Date</th>
                        <th>Créé</th>
                        <th>Modifié</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${stands.empty}">
                        <td colspan="9">Aucun stand programmé pour le moment</td>
                    </tr>
                    <tr th:each="stand : ${stands}">
                        <td th:text="${stand.id}">Id</td>
                        <td th:text="${stand.title}">Titre</td>
                        <td th:text="${stand.description}">Description</td>
                        <th th:text="${stand.place}">Lieu</th>
                        <th th:text="${stand.standDate}">Date</th>
                        <th th:text="${stand.createdAt}">Créé</th>
                        <th th:text="${stand.updatedAt}">Modifié</th>
                        <td><a th:href="@{'/admin/event/' + ${event.id} + '/update/stand/' + ${stand.id}}">Modifier</a></td>
                        <td><a th:href="@{'/admin/event/' + ${event.id} + '/delete/stand/' + ${stand.id}}">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>

            <h2>Conférences : </h2>
            <form th:action="@{'/admin/event/' + ${event.id} + '/add/conference'}" method="get">
                <input type="submit" value="Ajouter une conférence">
            </form>
            
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Lieu</th>
                        <th>Date</th>
                        <th>Créé</th>
                        <th>Modifié</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${conferences.empty}">
                        <td colspan="9">Aucune conférence programmé pour le moment</td>
                    </tr>
                    <tr th:each="conference : ${conferences}">
                        <td th:text="${conference.id}">Id</td>
                        <td th:text="${conference.title}">Titre</td>
                        <td th:text="${conference.description}">Description</td>
                        <th th:text="${conference.place}">Lieu</th>
                        <th th:text="${conference.conferenceDate}">Date</th>
                        <th th:text="${conference.createdAt}">Créé</th>
                        <th th:text="${conference.updatedAt}">Modifié</th>
                        <td><a th:href="@{'/admin/event/' + ${event.id} + '/update/conference/' + ${conference.id}}">Modifier</a></td>
                        <td><a th:href="@{'/admin/event/' + ${event.id} + '/delete/conference/' + ${conference.id}}">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>

            <h2>Compétitions solo : </h2>
            <form th:action="@{'/admin/event/' + ${event.id} + '/add/competition/solo'}" method="get">
                <input type="submit" value="Ajouter une compétition solo">
            </form>
            
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Créé</th>
                        <th>Modifié</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${competitionsSolo.empty}">
                        <td colspan="8">Aucune compétition en équipe programmé pour le moment</td>
                    </tr>
                    <tr th:each="competitionSolo : ${competitionsSolo}">
                        <td th:text="${competitionSolo.id}">Id</td>
                        <td th:text="${competitionSolo.title}">Titre</td>
                        <td th:text="${competitionSolo.description}">Description</td>
                        <th th:text="${competitionSolo.competitionDate}">Date</th>
                        <th th:text="${competitionSolo.createdAt}">Créé</th>
                        <th th:text="${competitionSolo.updatedAt}">Modifié</th>
                        <td><a th:href="@{'/admin/event/' + ${event.id} + '/update/competition/solo/' + ${competitionSolo.id}}">Modifier</a></td>
                        <td><a th:href="@{'/admin/event/' + ${event.id} + '/delete/competition/solo/' + ${competitionSolo.id}}">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>

            <h2>Compétitions en équipe : </h2>
            <form th:action="@{'/admin/event/' + ${event.id} + '/add/competition/team'}" method="get">
                <input type="submit" value="Ajouter une compétition en équipe">
            </form>
            
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Créé</th>
                        <th>Modifié</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${competitionsTeam.empty}">
                        <td colspan="8">Aucune compétition en équipe programmé pour le moment</td>
                    </tr>
                    <tr th:each="competitionTeam : ${competitionsTeam}">
                        <td th:text="${competitionTeam.id}">Id</td>
                        <td th:text="${competitionTeam.title}">Titre</td>
                        <td th:text="${competitionTeam.description}">Description</td>
                        <th th:text="${competitionTeam.competitionDate}">Date</th>
                        <th th:text="${competitionTeam.createdAt}">Créé</th>
                        <th th:text="${competitionTeam.updatedAt}">Modifié</th>
                        <td><a th:href="@{'/admin/event/' + ${event.id} + '/update/competition/team/' + ${competitionTeam.id}}">Modifier</a></td>
                        <td><a th:href="@{'/admin/event/' + ${event.id} + '/delete/competition/team/' + ${competitionTeam.id}}">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:case="false">
            <form method="post" th:action="@{/admin/event/create}" th:object="${event}">
                <label for="name">Nom :</label>
                <input type="text" th:field="*{name}"/> 
                <br />
                <label for="description">Description :</label>
                <input type="text" th:field="*{description}"/> 
                <br />
                <label for="eventStart">Commence :</label>
                <input type="date" th:field="*{eventStart}"/> 
                <br />
                <label for="eventEnd">Fini :</label>
                <input type="date" th:field="*{eventEnd}"/> 
                <br />
                
                <input type="submit" value="Créer" />
            </form>
        </div>
    </div>
    
    <div th:replace="fragments/footer.html"></div>
</body>

</html>