<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Stand - Admin Creed Ghost</title>
</head>

<body>
    <div th:switch="${update}">
        <div th:case="true"><h1 th:text="'Modification ' + ${stand.title}"></h1></div>
        <div th:case="false"><h1>Nouveau stand</h1></div>
    </div>

    <div th:replace="fragments/menu-admin.html :: menu-admin-creed-ghost"></div>

    <div th:switch="${update}">
        <div th:case="true">
            <form method="post" th:action="@{'/admin/event/' + ${event} + '/update/stand/' + ${stand.id}}" th:object="${stand}">
                <label for="title">Titre :</label>
                <input type="text" th:field="*{title}"/>
                <br />
                <label for="description">Description :</label>
                <input type="text" th:field="*{description}"/> 
                <br />
                <label for="place">Lieu :</label>
                <input type="text" th:field="*{place}"/> 
                <br />
                <label for="standDate">Date :</label>
                <input type="date" th:field="*{standDate}"/> 
                <br />
                
                <input type="submit" value="Mettre à jour" />
            </form>
        </div>
        <div th:case="false">
            <form method="post" th:action="@{'/admin/event/' + ${event} + '/add/stand'}" th:object="${stand}">
                <label for="title">Titre :</label>
                <input type="text" th:field="*{title}"/>
                <br />
                <label for="description">Description :</label>
                <input type="text" th:field="*{description}"/> 
                <br />
                <label for="place">Lieu :</label>
                <input type="text" th:field="*{place}"/> 
                <br />
                <label for="standDate">Date :</label>
                <input type="date" th:field="*{standDate}"/> 
                <br />
                
                <input type="submit" value="Créer" />
            </form>
        </div>
    </div>
    
    <div th:replace="fragments/footer.html"></div>
</body>

</html>