<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Compétitions Solo - Admin Creed Ghost</title>
</head>

<body>
    <div th:switch="${update}">
        <div th:case="true"><h1 th:text="'Modification ' + ${competition.title}"></h1></div>
        <div th:case="false"><h1>Nouvelle compétition solo</h1></div>
    </div>

    <div th:replace="fragments/menu-admin.html :: menu-admin-creed-ghost"></div>

    <div th:switch="${update}">
        <div th:case="true">
            <p th:if="${playerError}">Le joueur que vous avez voulu ajouter n'existe pas.</p>
            <form th:action="@{'/admin/competition/solo/' + ${competition.id} + '/add/player'}" method="post" th:object="${player}">
                <input type="text" th:field="*{username}">
                <input type="submit" value="Ajouter">
            </form>

            <p>Les joueurs suivants participent à la compétiton <span th:text="${competition.title}"></span> : </p>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Pseudo</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Mail</th>
                        <th>Classement</th>
                        <th>Inscrit</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${competitionPlayers.empty}">
                        <td colspan="9">Aucun joueur pour le moment</td>
                    </tr>
                    <tr th:each="playerCompetiton : ${competitionPlayers}">
                        <td th:text="${playerCompetiton.id}">Id</td>
                        <td th:text="${playerCompetiton.player.username}">Pseudo</td>
                        <td th:text="${playerCompetiton.player.lastname}">Nom</td>
                        <td th:text="${playerCompetiton.player.firstname}">Prénom</td>
                        <td th:text="${playerCompetiton.player.email}">Mail</td>
                        <td th:text="${playerCompetiton.ranking}">Classement</td>
                        <td th:text="${playerCompetiton.registrationDate}">Inscrit</td>
                        <td><a th:href="@{'/admin/competition/solo/' + ${competition.id} + '/class/player/' + ${playerCompetiton.id}}">Classer</a></td>
                        <td><a th:href="@{'/admin/competition/solo/' + ${competition.id} + '/delete/player/' + ${playerCompetiton.id}}">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>

            <form method="post" th:action="@{'/admin/event/' + ${event} + '/update/competition/solo/' + ${competition.id}}" th:object="${competition}">
                <label for="title">Titre :</label>
                <input type="text" th:field="*{title}"/>
                <br />
                <label for="description">Description :</label>
                <input type="text" th:field="*{description}"/> 
                <br />
                <label for="competitionDate">Date :</label>
                <input type="date" th:field="*{competitionDate}"/> 
                <br />
                
                <input type="submit" value="Mettre à jour" />
            </form>
        </div>
        <div th:case="false">
            <form method="post" th:action="@{'/admin/event/' + ${event} + '/add/competition/solo'}" th:object="${competition}">
                <label for="title">Titre :</label>
                <input type="text" th:field="*{title}"/>
                <br />
                <label for="description">Description :</label>
                <input type="text" th:field="*{description}"/> 
                <br />
                <label for="competitionDate">Date :</label>
                <input type="date" th:field="*{competitionDate}"/> 
                <br />
                
                <input type="submit" value="Créer" />
            </form>
        </div>
    </div>
    
    <div th:replace="fragments/footer.html"></div>
</body>

</html>