<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Compétitions Equipe - Creed Ghost</title>
</head>

<body>
    <h1 th:text="'Compétition ' + ${competition.title}"></h1>

    <div th:replace="fragments/menu.html :: menu-creed-ghost"></div>

    <p>Voici le détail de la compétition :</p>
    <ul>
        <li>Titre : <span th:text="${competition.title}"></span></li>
        <li>Description : <span th:text="${competition.description}"></span></li>
        <li>Date : <span th:text="${competition.competitionDate}"></span></li>
    </ul>

    <p>Les équipes suivantes participent à cette compétiton : </p>
    <ul th:if="${competitionTeams.empty}">
        <li>Aucune équipe pour le moment</li>
    </ul>
    <ul th:each="teamCompetition : ${competitionTeams}">
        <li><span th:text="${teamCompetition.team.name} + ' | Rang : ' + ${teamCompetition.ranking}"></span>
            <ul th:if="${teamCompetition.team.players.empty}">
                <li>Aucun joueur présent dans l'équipe</li>
            </ul>
            <ul th:each="playerTeam : ${teamCompetition.team.players}">
                <li th:text="${playerTeam.username}"></li>
            </ul>
        </li>
    </ul>
    
    <div th:replace="fragments/footer.html"></div>
</body>

</html>