<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Conférence - Admin Creed Ghost</title>
</head>

<body>
    <h1 th:text="'Conférence ' + ${conference.title}"></h1>

    <div th:replace="fragments/menu.html :: menu-creed-ghost"></div>

    <p>Voici ci-dessous le détail de la conférence :</p>
    <ul>
        <li>Titre : <span th:text="${conference.title}"></span></li>
        <li>Description : <span th:text="${conference.description}"></span></li>
        <li>Lieu : <span th:text="${conference.place}"></span></li>
        <li>Date : <span th:text="${conference.conferenceDate}"></span></li>
    </ul>

    <p>Les intervents qui vont y participer :</p>
    <ul th:if="${conference.speakers.empty}">
        <li>Aucun conférencier pour le moment</li>
    </ul> 
    <ul th:each="speakerConference : ${conference.speakers}">
        <li th:text="${speakerConference.firstname} + ' ' + ${speakerConference.lastname}"></li>
    </ul>
    
    <div th:replace="fragments/footer.html"></div>
</body>

</html>