<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Evénements - Creed Ghost</title>
</head>

<body>
    <h1 th:text="'Evénement ' + ${event.name}"></h1>

    <div th:replace="fragments/menu.html :: menu-creed-ghost"></div>
    
    <p>Voici ci-dessous le détail de l'événement</p>
    <ul>
        <li>Nom : <span th:text="${event.name}"></span></li>
        <li>Description : <span th:text="${event.description}"></span></li>
        <li>Débute : <span th:text="${event.eventStart}"></span></li>
        <li>Fini : <span th:text="${event.eventEnd}"></span></li>
    </ul>

    <p>Un événement peut posséder différentes catégories d'événements (activité, stand, conference, compétition solo, ...)</p>
    <p>L'ensemble des parties de l'événement <span th:text="${event.name}"></span> vont être listées ci-dessous.</p>

    <h2>Activités : </h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Créé</th>
                <th>Modifié</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${activities.empty}">
                <td colspan="9">Aucune activité programmée pour le moment</td>
            </tr>
            <tr th:each="activity : ${activities}">
                <td th:text="${activity.id}">Id</td>
                <td th:text="${activity.title}">Titre</td>
                <td th:text="${activity.description}">Description</td>
                <th th:text="${activity.place}">Lieu</th>
                <th th:text="${activity.activityDate}">Date</th>
                <th th:text="${activity.createdAt}">Créé</th>
                <th th:text="${activity.updatedAt}">Modifié</th>
            </tr>
        </tbody>
    </table>

    <h2>Stands : </h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Créé</th>
                <th>Modifié</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${stands.empty}">
                <td colspan="9">Aucun stand programmé pour le moment</td>
            </tr>
            <tr th:each="stand : ${stands}">
                <td th:text="${stand.id}">Id</td>
                <td th:text="${stand.title}">Titre</td>
                <td th:text="${stand.description}">Description</td>
                <th th:text="${stand.place}">Lieu</th>
                <th th:text="${stand.standDate}">Date</th>
                <th th:text="${stand.createdAt}">Créé</th>
                <th th:text="${stand.updatedAt}">Modifié</th>
            </tr>
        </tbody>
    </table>

    <h2>Conférences : </h2>            
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Créé</th>
                <th>Modifié</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${conferences.empty}">
                <td colspan="9">Aucune conférence programmé pour le moment</td>
            </tr>
            <tr th:each="conference : ${conferences}">
                <td th:text="${conference.id}">Id</td>
                <td th:text="${conference.title}">Titre</td>
                <td th:text="${conference.description}">Description</td>
                <th th:text="${conference.place}">Lieu</th>
                <th th:text="${conference.conferenceDate}">Date</th>
                <th th:text="${conference.createdAt}">Créé</th>
                <th th:text="${conference.updatedAt}">Modifié</th>
                <td><a th:href="@{'/event/' + ${event.id} + '/conference/' + ${conference.id}}">Voir</a></td>
            </tr>
        </tbody>
    </table>

    <h2>Compétitions solo : </h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Créé</th>
                <th>Modifié</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${competitionsSolo.empty}">
                <td colspan="8">Aucune compétition en équipe programmé pour le moment</td>
            </tr>
            <tr th:each="competitionSolo : ${competitionsSolo}">
                <td th:text="${competitionSolo.id}">Id</td>
                <td th:text="${competitionSolo.title}">Titre</td>
                <td th:text="${competitionSolo.description}">Description</td>
                <th th:text="${competitionSolo.competitionDate}">Date</th>
                <th th:text="${competitionSolo.createdAt}">Créé</th>
                <th th:text="${competitionSolo.updatedAt}">Modifié</th>
                <td><a th:href="@{'/event/' + ${event.id} + '/competition/solo/' + ${competitionSolo.id}}">Voir</a></td>
            </tr>
        </tbody>
    </table>

    <h2>Compétitions en équipe : </h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Créé</th>
                <th>Modifié</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${competitionsTeam.empty}">
                <td colspan="8">Aucune compétition en équipe programmé pour le moment</td>
            </tr>
            <tr th:each="competitionTeam : ${competitionsTeam}">
                <td th:text="${competitionTeam.id}">Id</td>
                <td th:text="${competitionTeam.title}">Titre</td>
                <td th:text="${competitionTeam.description}">Description</td>
                <th th:text="${competitionTeam.competitionDate}">Date</th>
                <th th:text="${competitionTeam.createdAt}">Créé</th>
                <th th:text="${competitionTeam.updatedAt}">Modifié</th>
                <td><a th:href="@{'/event/' + ${event.id} + '/competition/team/' + ${competitionTeam.id}}">Voir</a></td>
            </tr>
        </tbody>
    </table>
    
    <div th:replace="fragments/footer.html"></div>
</body>

</html>