<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Association Creed Ghost</title>
</head>

<body>
    <h1>Association Creed Ghost</h1>
    
    <div th:replace="fragments/menu.html :: menu-creed-ghost"></div>

    <h2>Evénements</h2>
    
    <table>
        <thead>
            <tr>
                <th hidden>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Commence</th>
                <th>Fini</th>
                <th>Créé</th>
                <th>Modifié</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${events.empty}">
                <td colspan="9">Aucun événement n'est disponible pour le moment</td>
            </tr>
            <tr th:each="event: ${events}">
                <td hidden><span th:text="${event.id}">Id</span></td>
                <td><span th:text="${event.name}">Titre</span></td>
                <td><span th:text="${event.description}">Description</span></td>
                <td><span th:text="${event.eventStart}">Commence</span></td>
                <td><span th:text="${event.eventEnd}">Fini</span></td>
                <td><span th:text="${event.createdAt}">Créé</span></td>
                <td><span th:text="${event.updatedAt}">Modifié</span></td>
                <td><a th:href="@{'/event/' + ${event.id}}">Voir</a></td>
            </tr>
        </tbody>
    </table>

    <div th:replace="fragments/about.html :: about-creed-ghost"></div>
    <div th:replace="fragments/contact.html :: contact-creed-ghost"></div>
    
    <div th:replace="fragments/footer.html :: footer-creed-ghost"></div>
</body>

</html>