<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tableau de bord - Admin Creed Ghost</title>
</head>

<body>
    <header>
        <h1>Tableau de bord administrateur Creed Ghost</h1>
    </header>

    <div th:replace="fragments/menu-admin.html :: menu-admin-creed-ghost"></div>

    <h2 id="users">Utilisateurs</h2>

    <form method="get" th:action="@{/admin/user/create}">
        <button type="submit">Créer un nouvel utilisateur</button>
    </form>

    <table>
        <thead>
            <tr>
                <th hidden>Id</th>
                <th>Nom utilisateur</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Créé</th>
                <th>Modifié</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${users.empty}">
                <td colspan="9">Aucun utilisateur n'est disponible pour le moment</td>
            </tr>
            <tr th:each="user: ${users}">
                <td hidden><span th:text="${user.id}">Id</span></td>
                <td><span th:text="${user.username}">Nom utilisateur</span></td>
                <td><span th:text="${user.firstname}">Prénom</span></td>
                <td><span th:text="${user.lastname}">Nom</span></td>
                <td><span th:text="${user.email}">Email</span></td>
                <td><span th:text="${user.createdAt}">Créé</span></td>
                <td><span th:text="${user.updatedAt}">Modifié</span></td>
                <td><a th:href="@{'/admin/user/' + ${user.id} + '/update'}">Modifier</a></td>
                <td><a th:href="@{'/admin/user/' + ${user.id} + '/delete'}">Supprimer</td>
            </tr>
        </tbody>
    </table>

    <h2 id="players">Joueurs</h2>

    <form method="get" th:action="@{/admin/player/create}">
        <button type="submit">Créer un nouveau joueur</button>
    </form>

    <table>
        <thead>
            <tr>
                <th hidden>Id</th>
                <th>Nom utilisateur</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Anniversaire</th>
                <th>Créé</th>
                <th>Modifié</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${players.empty}">
                <td colspan="11">Aucun joueur n'est disponible pour le moment</td>
            </tr>
            <tr th:each="player: ${players}">
                <td hidden><span th:text="${player.id}">Id</span></td>
                <td><span th:text="${player.username}">Nom utilisateur</span></td>
                <td><span th:text="${player.firstname}">Prénom</span></td>
                <td><span th:text="${player.lastname}">Nom</span></td>
                <td><span th:text="${player.email}">Email</span></td>
                <td><span th:text="${player.cellphone}">Téléphone</span></td>
                <td><span th:text="${player.birthday}">Anniversaire</span></td>
                <td><span th:text="${player.createdAt}">Créé</span></td>
                <td><span th:text="${player.updatedAt}">Modifié</span></td>
                <td><a th:href="@{'/admin/player/' + ${player.id} + '/update'}">Modifier</a></td>
                <td><a th:href="@{'/admin/player/' + ${player.id} + '/delete'}">Supprimer</td>
            </tr>
        </tbody>
    </table>

    <h2 id="teams">Equipes</h2>

    <form method="get" th:action="@{/admin/team/create}">
        <button type="submit">Créer une nouvelle équipe</button>
    </form>

    <table>
        <thead>
            <tr>
                <th hidden>Id</th>
                <th>Nom</th>
                <th>Créé</th>
                <th>Modifié</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${teams.empty}">
                <td colspan="6">Aucune équipe n'est disponible pour le moment</td>
            </tr>
            <tr th:each="team: ${teams}">
                <td hidden><span th:text="${team.id}">Id</span></td>
                <td><span th:text="${team.name}">Nom</span></td>
                <td><span th:text="${team.createdAt}">Créé</span></td>
                <td><span th:text="${team.updatedAt}">Modifié</span></td>
                <td><a th:href="@{'/admin/team/' + ${team.id} + '/update'}">Voir</a></td>
                <td><a th:href="@{'/admin/team/' + ${team.id} + '/delete'}">Supprimer</td>
            </tr>
        </tbody>
    </table>

    <h2 id="events">Evénements</h2>
    
    <form method="get" th:action="@{/admin/event/create}">
        <button type="submit">Créer un nouvel événement</button>
    </form>

    <table>
        <thead>
            <tr>
                <th hidden>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Commence</th>
                <th>Fini</th>
                <th>Créé</th>
                <th>Modifié</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${events.empty}">
                <td colspan="9">Aucun événement n'est disponible pour le moment</td>
            </tr>
            <tr th:each="event: ${events}">
                <td hidden><span th:text="${event.id}">Id</span></td>
                <td><span th:text="${event.name}">Titre</span></td>
                <td><span th:text="${event.description}">Description</span></td>
                <td><span th:text="${event.eventStart}">Commence</span></td>
                <td><span th:text="${event.eventEnd}">Fini</span></td>
                <td><span th:text="${event.createdAt}">Créé</span></td>
                <td><span th:text="${event.updatedAt}">Modifié</span></td>
                <td><a th:href="@{'/admin/event/' + ${event.id} + '/update'}">Voir</a></td>
                <td><a th:href="@{'/admin/event/' + ${event.id} + '/delete'}">Supprimer</td>
            </tr>
        </tbody>
    </table>

    <h2 id="speakers">Conférenciers</h2>

    <form method="get" th:action="@{/admin/speaker/create}">
        <button type="submit">Créer un nouveau conférencier</button>
    </form>

    <table>
        <thead>
            <tr>
                <th hidden>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Créé</th>
                <th>Modifié</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${speakers.empty}">
                <td colspan="9">Aucun événement n'est disponible pour le moment</td>
            </tr>
            <tr th:each="speaker: ${speakers}">
                <td hidden><span th:text="${speaker.id}">Id</span></td>
                <td><span th:text="${speaker.lastname}">Nom</span></td>
                <td><span th:text="${speaker.firstname}">Prénom</span></td>
                <td><span th:text="${speaker.email}">Email</span></td>
                <td><span th:text="${speaker.cellphone}">Téléphone</span></td>
                <td><span th:text="${speaker.createdAt}">Créé</span></td>
                <td><span th:text="${speaker.updatedAt}">Modifié</span></td>
                <td><a th:href="@{'/admin/speaker/' + ${speaker.id} + '/update'}">Voir</a></td>
                <td><a th:href="@{'/admin/speaker/' + ${speaker.id} + '/delete'}">Supprimer</td>
            </tr>
        </tbody>
    </table>

    <div th:replace="fragments/footer.html :: footer-creed-ghost"></div>
</body>

</html>