<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Joueur - Admin Creed Ghost</title>
</head>

<body>
    <div th:switch="${update}">
        <div th:case="true"><h1 th:text="'Modification ' + ${player.username}"></h1></div>
        <div th:case="false"><h1>Nouveau joueur</h1></div>
    </div>

    <div th:replace="fragments/menu-admin.html :: menu-admin-creed-ghost"></div>

    <div th:switch="${update}">
        <div th:case="true">
            <form method="post" th:action="@{'/admin/player/' + ${player.id} + '/update'}" th:object="${player}">
                <label for="username">Pseudo :</label>
                <input type="text" th:field="*{username}"/>
                <br />
                <label for="firstname">Prénom :</label>
                <input type="text" th:field="*{firstname}"/> 
                <br />
                <label for="lastname">Nom :</label>
                <input type="text" th:field="*{lastname}"/> 
                <br />
                <label for="email">Mail :</label>
                <input type="email" th:field="*{email}"/> 
                <br />
                <label for="cellphone">Téléphone :</label>
                <input type="tel" th:field="*{cellphone}"/> 
                <br />
                <label for="birthday">Anniversaire :</label>
                <input type="date" th:field="*{birthday}"/> 
                <br />
                <label for="password">Mot de passe :</label>
                <input type="password" th:field="*{password}"/> 
                <br />
                
                <input type="submit" value="Mettre à jour" />
            </form>
        </div>
        <div th:case="false">
            <form method="post" th:action="@{/admin/player/create}" th:object="${player}">
                <label for="username">Pseudo :</label>
                <input type="text" th:field="*{username}"/>
                <br />
                <label for="firstname">Prénom :</label>
                <input type="text" th:field="*{firstname}"/> 
                <br />
                <label for="lastname">Nom :</label>
                <input type="text" th:field="*{lastname}"/> 
                <br />
                <label for="email">Mail :</label>
                <input type="email" th:field="*{email}"/> 
                <br />
                <label for="cellphone">Téléphone :</label>
                <input type="tel" th:field="*{cellphone}"/> 
                <br />
                <label for="birthday">Anniversaire :</label>
                <input type="date" th:field="*{birthday}"/> 
                <br />
                <label for="password">Mot de passe :</label>
                <input type="password" th:field="*{password}"/> 
                <br />
                
                <input type="submit" value="Créer" />
            </form>
        </div>
    </div>
    
    <div th:replace="fragments/footer.html"></div>
</body>

</html>