<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Equipe - Admin Creed Ghost</title>
</head>

<body>
    <div th:switch="${update}">
        <div th:case="true"><h1 th:text="'Modification ' + ${team.name}"></h1></div>
        <div th:case="false"><h1>Nouvelle équipe</h1></div>
    </div>

    <div th:replace="fragments/menu-admin.html :: menu-admin-creed-ghost"></div>
    
    <div th:switch="${update}">
        <div th:case="true">
            
            <p th:if="${playerError}">Le joueur que vous avez voulu ajouter n'existe pas.</p>
            <form th:action="@{'/admin/team/' + ${team.id} + '/add/player'}" method="post" th:object="${player}">
                <input type="text" th:field="*{username}">
                <input type="submit" value="Ajouter">
            </form>

            <p>Les joueurs suivants font partie de l'équipe <span th:text="${team.name}"></span> : </p>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Pseudo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${team.players.empty}">
                        <td colspan="4">Aucun joueur dans l'équipe pour le moment</td>
                    </tr>
                    <tr th:each="playerTeam : ${team.players}">
                        <td th:text="${playerTeam.id}">Id</td>
                        <td th:text="${playerTeam.username}">Pseudo</td>
                        <td><a th:href="@{'/admin/team/' + ${team.id} + '/delete/player/' + ${playerTeam.id}}">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>

            <form method="post" th:action="@{'/admin/team/' + ${team.id} + '/update'}" th:object="${team}">
                <label for="firstname">Nom :</label>
                <input type="text" th:field="*{name}"/> 
                <br />
                
                <input type="submit" value="Mettre à jour" />
            </form>
        </div>
        <div th:case="false">
            <form method="post" th:action="@{/admin/team/create}" th:object="${team}">
                <label for="firstname">Nom :</label>
                <input type="text" th:field="*{name}"/> 
                <br />
                
                <input type="submit" value="Créer" />
            </form>
        </div>
    </div>
    
    <div th:replace="fragments/footer.html"></div>
</body>

</html>